html,
        body {
            width: 100%;
            margin: 0;
            padding: 0;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: -2;
            background-color: black;
        }

        #r {

            display: flex;
            align-items: center;
            justify-content: center;
            background-color:black;
            height: 96%;
            width: 95.5%;
            z-index: -1;
            overflow:hidden ;
            /*! border-radius: 50px; */
position:absolute;
        }

        #r:before {
            content: '';
            position: fixed;
            top: 3%;
            left: 3%;
            bottom: 2.9%;
            right: 3%;
            /*! border-radius: 170px; */
            background: fixed;
            background-color: black;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;

        }

        #r>span:nth-child(1) {
            height: 270%;
            width: 70%;
            background: linear-gradient(45deg, magenta, crimson, yellow, indigo, orange, blue, red);
            animation: aniam 9s linear infinite;

        }

        @keyframes aniam {
            0% {
                transform: rotate(0deg);
            }

            100% {
                transform: rotate(360deg);
            }
        }


        #face {
           
            position: fixed;
            background: cyan;
            height: 94%;
            width: 94%;
            /*! border-radius: 34px; */
            transform-style: preserve-3d;
            z-index: 2;
            overflow-y:scroll;
            overflow-x:scroll;
            
            animation: animate 2s linear infinite;
            box-sizing: border-box;
            list-style: none;
            text-decoration: none;
            display:flex;
            justify-content:center;

            }

               .top {
            height: 10%;
            width: 100%;
            position: absolute;
            top: 0px;
            left: 0px;
        }


        .button {
margin-left: 5px;
  background: transparent;
  transition-duration: 2s;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: inherit;
  height: 50px;
  display: flex;
  width: 100px;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
  position: relative;
  right: -3%;
  top: 24%;
  overflow: hidden;
  text-decoration: none;
                    }


        .button:before {
            content: '';
            z-index: -1;
            position: absolute;
            top: -100px;
            left: -419px;
            bottom: -100px;
            right: -419px;

            background: linear-gradient(45deg, yellow, blue 50%);
            animation: to 2s linear infinite;

        }
.button:hover{
font-size:inherit;
          }
        @keyframes to {

            0%,
            100% {
                transform: translate(20%);
            }

            50% {
                transform: translate(40%);

            }
        }



       #face>.shr {

            position:absolute;
            top: 4rem;
            font-size: inherit;
            font-style: oblique;
            color: crimson;
                  }
          #blog-link-container{
              z-index: 2;
  list-style: none;
  position: absolute;
  display: flex;
  text-align: center;
  letter-spacing: 5px;
  font-size: 25px;
  flex-flow: column-reverse wrap;
  top: 10%;
          }
          a{
text-decoration:none;
color:black;
transition:.3s linear;

          }
       a:hover{
font-size:30px;
          }
