  
  html,
    body {

      --borderheight: -1;
      height: 100%;
      width: 100%;
      z-index: var(--borderheight);
      background-color: #000;
      overflow:hidden;
    }

    .class {display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-flow: column wrap;

          }

    #box {

      width: 500px;
      height: 65vh;
      color: transparent;


    }

    .gradient-border {
      --borderWidth: 3px;

      position: relative;
      border-radius: var(--borderWidth);
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .gradient-border:after {
      content: '';
      position: absolute;
      top: calc(-1 * var(--borderWidth));
      left: calc(-1 * var(--borderWidth));
      height: calc(100% + var(--borderWidth) * 2);
      width: calc(100% + var(--borderWidth) * 2);
      background: linear-gradient(60deg, #a33ea3, #4b0082, #0000ff, #1e0070, #dc143c, orange, #00ffff);
      border-radius: 37px;
      z-index: 1;
      animation: animatedgradient 3s ease alternate infinite;
      background-size: 300% 300%;
      overflow: auto;

    }


    @keyframes animatedgradient {
      0% {
        background-position: 0% 50%;
      }

      50% {
        background-position: 100% 50%;
      }

      100% {
        background-position: 0% 50%;
      }
    }

    h1{
position:inherit;
color:crimson;
letter-spacing:5px;
font-size:50px;
font-family:Adwaita Mono;
    }
    li{

z-index:100000000000000;
    }
    a{
color:white;
text-decoration:none;
font-size:30px;
font-family:Adwaita Mono;
word-spacing:3px;
    }
    ul{
margin-top:45px;

    }
    .gradient-border::before {
  content: '';
  position: absolute;
  top: calc(0 * var(--borderWidth));
  left: calc(0 * var(--borderWidth));
  height: calc(99% + var(--borderWidth) * 2);
  width: calc(99% + var(--borderWidth) * 2);
  background: black;

    background-size: auto;

  background-size: auto;
  border-radius: 37px;

  z-index: 2;
  animation: animatedgradient 3s ease alternate infinite;

  background-size: 300% 300%;
  overflow: auto;

}
