body{
height:100%;
width:100%;
background-image: linear-gradient(135deg in oklab, #E0DEE0 0%, #0ad1ef 100%);
overflow:hidden;
}
#main{
position: absolute;
  height: 90%;
  width: 70%;
z-index:100000;

  top: 10%;
  left: 15%;
  background-color: #E1C97C;
  border-radius: 25px 25px 0 0;
  box-shadow: #D5BD8B 0px 1px 70px, #D5BD8B 0px 0px 0px 5px;
  overflow: hidden;
  opacity:90%;
}
#main > img{
height: 10vw;
  width: 10vw;
  left: 30vw;
  position: relative;
  }
#main > li{
display: flex;
  flex-flow: row wrap;
  margin:0px;
  padding:0px;
  justify-content: space-evenly;
}
#main >li>ul{
    margin:0px;
    padding:0px;
}
h1{
color:white;
}
a{
text-decoration:none;
color:white;
}
 #bubbleCanvas {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: 1;
    }
    #audio-playing-field{
display:flex;
flex-flow: row wrap;
margin:0;
padding:0;
    }
#music-wave-container {
  display: none;
  align-items: flex-end;
  gap: 3px;
  height: 60px;}
.wave-bar {
  width: 3px;
  height: 15px;
  background-color: white;
  border-radius: 2px;
  /* transform-origin: bottom; */
  animation: bounce ease-in-out infinite alternate;
}

@keyframes bounce {
  0% { transform: scaleY(1); }
  100% { transform: scaleY(5.5); }
}
#music{
display:none;

}
#audio_button {
    box-shadow: 0px -6px 10px rgba(255, 255, 255, 1),
        0px 4px 15px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
    padding: 13px 13px;
    border: none;
    background-color: #f2f2f2;
    border-radius: 0.5em;
    letter-spacing: 1px;
    text-align: center;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    user-select: none;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 16px;
}

#audio_button:hover {
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.15);
}

#audio_button:active {
    box-shadow: 0 0 1px #888, 0 1px 0 #fff,
        0 0 0 #C0C0C0, 0 0px 30px rgba(68, 68, 68, 0.15),
        2px 2px 4px rgba(68, 68, 68, 0.25),
        -2px 2px 4px rgba(68, 68, 68, 0.25),
        0 0px 4px rgba(68, 68, 68, 0.25);
    transform: translateY(4px);
}

/*** disabled style ***/
#audio_button:disabled {
    pointer-events: none;
    opacity: .65;
    color: #7e7e7e;
    background: #dcdcdc;
    box-shadow: none;
    text-shadow: none;
}
p{
color:white;

}
